In [ ]:
# Задача 1
import pandas as pd
df = pd.read_excel('data.xlsx',sheet_name='Sheet1')

kapusta = df[df['sku']=='Капуста']
kapusta.to_csv('task1.csv', index = False)

In [ ]:
# Задача 2
import pandas as pd

df = pd.read_excel("data.xlsx", sheet_name='Sheet1')

kivi = df[df['sku'] == "Киви"]
print (kivi)
kivi1 = kivi[kivi['priceoforder'] > 1000]
kivi1.to_excel("task2.xlsx", index = False)

In [ ]:
# Задача 3

import pandas as pd

df = pd.read_excel("data.xlsx", sheet_name='Sheet1')
df1 = df[df['volume'] > 15]
print (df1)
df2 = df1[df1['volume'] < 50]
df2.to_excel("task3.xlsx", index = False)

In [10]:
import pandas as pd
import sqlite3

con = sqlite3.connect("teachers.db")
df = pd.read_sql('SELECT * FROM Teatcher;',con)
print (df)

   Teatcher_Id Teatcher_Name  School_Id Joining_Date      Speciality  Salary  \
0          101        Галина          1    2021 2 10           Физик   40000
1          102         Мария          1   2018 07 23           Химик   20000
2          103         Ольга          2   2022 05 19      Информатик   25000
3          104        Полина          2   2017 12 28           Физик   28000
4          105         Лидия          3   2015 06 04      Информатик   42000
5          106     Анастасия          3   2019 09 11  Учитель трудов   30000
6          107         Ирина          4   2020 08 21      Информатик   32000
7          108      Виктория          4   2017 10 17         Географ   30000

   Experience
0           5
1           5
2          10
3          10
4          15
5          15
6          20
7          20

In [ ]:
import pandas as pd
import sqlite3

con = sqlite3.connect("Schools.db")
df_school = pd.DataFrame({
    "School_id": [1,2,3,4],
    "School_Name": ['Дружба'],
    "Place_count": [500]})                    

df_school.to_sql("City",con) #добавили 4 записи сити городов

In [15]:
# Задача 4

import pandas as pd

import sqlite3




con = sqlite3.connect("Students.db")

df = pd.read_sql('SELECT * FROM Students;',con)

df.to_excel('task4.xlsx', index = False)

In [ ]:
import pandas as pd
import